/* Use your own code or past solution for Great Idea Web Page CSS here! */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
body{
	font-family: 'Liu Jian Mao Cao', cursive;
}
  
header{
	display: flex;
	justify-content: space-evenly;
	padding: 10px;
	position: sticky;
	top: 0;
	z-index: 1;
	background: blue
}


header nav {
	width: 50%;
	display: flex;
}

nav a {
	text-decoration: none;
	color: lightgray;
	margin: 5px 15px;
}

nav a:hover{
	border: 1px solid black;
	color: black;
}

header img {
	display: flex;
	float: right;
	padding-left: 50px;
	padding-right: 0px;
}

div {
	width:100%;
	display: flex;
	padding-bottom: 10px;
	border-bottom: 1px solid black;
}

.inovation {
	width: 50%;
	height: 100%;
	float: left;
	display: flex;
	flex-flow: column nowrap;
	padding: 200px 50px 50px 150px;
	font-size: x-large;
}

#get-started {
	text-decoration: none;
	color: black;
	padding: 5px;
	border: 1px solid black;
}

#get-started:hover {
	background: blue;
}

.code-image {
	width: 50%;
	display: flex;
	padding: 50px;
}

#top-content{
	width: 100%;
	padding: 20px 0px;
	display: flex;
}

.features{
	width: 50%;
	float: left;
	display: flex;
}

.about{
	width: 50%;
	display: flex;
}

.middle-img{
	width: 100%;
}

.services{
	width: 33%;
	float: left;
	display: flex;
	padding: 20px;
}

.product{
	width: 33%;
	display: flex;
	padding: 20px;
}

.vision{
	width: 33%;
	display: flex;
	padding: 20px;
}

footer{
	font-family: sans-serif;
	padding: 20px;
}
footer > h2{
	text-align: left;
}

#contact-info{
	text-align: left;
}

#copyright{
	padding: 10px;
	text-align: center;
}

/* serivces */

#services-top-con{
	width: 100%;
	display: flex;
	flex-flow: column wrap;
	align-content: center;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid black;
}

.services-header-img{
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	padding-bottom: 20px;
}
 .mid-blocks{
	 display: flex;
	 flex-flow: row wrap;
	 justify-content: space-evenly;
	 padding-bottom: 20px;
	 border-bottom: 3px solid gray;
	 margin-bottom: 20px;
}



.content-block{
	display: flex;
	flex-flow: column;
	padding: 10px; 
	background: lightgray;
	border: 1px solid black;
	margin: 5%;
}



.learn-more{
	background: white;
	text-decoration: none;
	color: black;
	border: 1px solid black;
	border-radius: 25px;
	padding: 5px 25px;	
}

.last-content{
	display:flex;
	border-bottom: none;
}

.service-facts{
	width: 100%;
	display: flex;
	flex-flow: column;

}

ul{
	margin-left: 15px;
	display: list-item;
}

ul > li{
	list-style-type: disc;
}

footer{
    text-align: center;
}
 

/*tablet*/
@media(max-width: 800px){
	header{
		flex-flow: column-reverse nowrap;
		background: none;
		position: static;
	}
	header nav{
		align-content: center;
	}
	nav a:hover{
		border-top: none;
		border-left: none;
		border-right: none;
		color: black;
	}
	header img{
		display: block
	}
	.code-image{
		display: none;
	}
	#top-div{
		justify-content: center;
	}
	.inovation{
		text-align: center; 
		padding: 0%;
	}
	.mid-blocks{
		flex-flow: column wrap;
		align-content: center;
	}
	.last-content{
		flex-flow: column-reverse;
		align-content: center;
		text-align: center;
	}
	.services-info-img{
		padding-bottom: 10px;
	}
	ul{
		margin-left: 0;
		display: list-item;
	}	
}

/*mobile*/
@media(max-width: 500px){
	header nav{
		width: 100%;
		flex-flow: column;
		align-content: center;
	}
	header img{
		padding: 10px;
		border-bottom: 1px solid black;
	}
	nav a{
		width: 100%;
		padding: 10px;
		border-bottom: 1px solid black;
		text-align: center;
	}
	#top-content{
		flex-flow: column;
		align-content: center;
	}
	.features{
		display: flex;
		flex-flow: column;
	    width: 100%;
		text-align: center;
		padding-bottom: 20px;
	}
	.about{
		width: 100%;
		display: flex;
		flex-flow: column;
		text-align: center;
	}
	#middle-content{
		flex-flow: column;
	}
	.services{
		display: flex;
		flex-flow: column;
	    width: 100%;
		text-align: center;
		padding-bottom: 20px;
	}
	.product{
		display: flex;
		flex-flow: column;
	    width: 100%;
		text-align: center;
		padding-bottom: 20px;
	}
	.vision{
		display: flex;
		flex-flow: column;
	    width: 100%;
		text-align: center;
		padding-bottom: 20px;
	}
	.services-info-img{
		display: none;
	}	
}